* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    background-color: #00000091;
    padding: 10px;
    position:fixed;
    width: 100vw;
}

.header ul{
    padding: 1%;
    display: flex;
    justify-content: flex-end;

}


.header ul li{
    list-style: none;
}


.header ul li a{
    padding: 0 20px 0 0px;
    margin: 0px 0 10px 10px;
    font-size: 20px;
    color: white;
    text-decoration: none; 
}

.section1{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .in-section{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
}